<div class="wrapper-segundo profile-page-prueba">
    <div class="page-header">
        <div class="page-header-image img-fluid">
            <div class="container">
                <div class="perfil flex-column">
                    <div class="profile-image mb-2">
                        <a href="#">
                           <span class="d-flex"><img *ngIf="persona" class="img-profile img-fluid mx-auto mb-2" 
                                    [src]="persona.foto" alt="..." /></span>
                        </a>
                    </div>
                    <div class="">
                        <div>
                            <h2 class="perfil-texto" id="nombre" *ngIf="persona"> {{persona.nombre}} {{persona.apellido}}</h2>
                        </div>
                        <h5 class="categoria perfil-texto" id="ocupacion" *ngIf="persona"> {{persona.ocupacion}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>