<div class="wrapper-segundo profile-page-prueba">
    <div class="page-header">
        <div class="page-header-image img-fluid">
            <div class="container">
                <div class="perfil flex-column">
                    <div class="profile-image mb-2">
                        <a href="#">
                           <span class="d-flex"><img class="img-profile img-fluid mx-auto mb-2" 
                                    src="../../../assets/img/foto-perfil.jpeg" alt="..." /></span>
                        </a>
                    </div>
                    <div class="">
                        <div id="nombre">
                            <h2 class="perfil-texto">Maria Eugenia Zilli</h2>
                        </div>
                        <h5 class="categoria perfil-texto">Full Stack Developer</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>