<div class="profile-page-prueba">
    <div class="wrapper-segundo">
        <div class="page-header">
            <div class="page-header-image">
                <!--style="background-image: url('img/foto-encabezado.jpg');"-->
                <div class="container">
                    <div class="content-left">
                        <div class="profile-image">
                            <a href="#">
                                <span class="d-none d-lg-block"><img class="img-fluid img-profile mx-auto mb-2"
                                        src="../../../assets/img/foto-perfil.jpeg" alt="..." /></span>
                            </a>
                        </div>
                        <div id="nombre">
                            <h2>Maria Eugenia Zilli</h2>
                        </div>
                        <h5 class="categoria">Full Stack Developer</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
