<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="row">
            <div class="col-lg-10 col-md-12">
                <div class="h4 text-left mt-4 title">Experiencia Laboral</div>
            </div>
            <div class="col-lg-2 col-md-0 d-flex flex-row-reverse">
                <a href="#" class="btn btn-primary m-2 "><i class="fas fa-plus"></i></a>
            </div> 
        </div>
        <div class="card mt-4 mb-4" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="../../../assets/img/escudo-santaFe.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-10">
                    <h4 class="card-title">Provincia de Santa Fe - Sede de Gobierno</h4>
                    <h5 class="card-subtitle">Centro Único de Atención (Febrero 2022 - presente)</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Rosario, Argentina</small></p>
                    <div class="d-flex flex-row-reverse">
                        <a href="#" class="btn btn-primary m-2"><i class="fas fa-edit"></i></a>
                        <a href="#" class="btn btn-primary m-2"><i class="fas fa-trash-alt"></i></a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
