<footer class="footer">
    <div class="container text-center max-width">
        <a class="c-whatsapp btn btn-link" href="#" target="_blank">
            <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
        </a>
        <a class="c-instagram btn btn-link" href="https://www.instagram.com/" target="_blank">
            <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
        </a>
        <a class="c-github btn btn-link" href="https://github.com/" target="_blank">
            <i class="fa fa-github fa-2x " aria-hidden="true"></i>
        </a>
    </div>
    <div class="text-center text-muted">
        <p>&copy; All rights reserved.</p>
    </div>
</footer>
