<div class="section-contacto" id="contact">
    <div class="imagen-contacto">
        <form class="form">
            <div class="form-container">
                <h4 class="form-container">Contáctame</h4>
                <h5><strong>Ingresa tus datos y mensaje </strong></h5>
                <div class="grupo">
                    <input type="text" name="" id="" required> <span class="barra"></span>
                    <label>Nombre</label>
                </div>
                <div class="grupo">
                    <input type="email" name="" id="" required> <span class="barra"></span>
                    <label>Email</label>
                </div>
                <div class="grupo">
                    <textarea name="" id="" rows="3" required></textarea> <span class="barra"></span>
                    <label>Mensaje</label>
                </div>
                <button type="submit">Enviar</button>
            </div>
        </form>
        <!-- <div> <div class="boton"> <a class="btn mt-4 btn-outline-secondary m-5 mb-1" (click)="redirectToHome()"
            *ngIf="enContacto">
            <h6 class="align-self-center">Regresar a Inicio <i class="fas fa-home m-1"></i></h6>
        </a></div> -->
    </div>
</div>