<div class="section" id="contact">
    <div class="cc-contact-information imagen-contacto"> 
        <!--<img src="img/contacto-mediana.jpg" style="background-image: none;" alt=""> style="background-image: url('assets/images/contact.jpg');"-->
        <div class="container p-5">
            <div class="cc-contact">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card m-0">
                            <div class="h4 text-center title mt-4">Contactame</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <form name="form"
                                            novalidate>
                                            <div class="p pb-3">
                                                <strong>Ingresa tus datos y mensaje </strong>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <input class="form-control" type="text" name="name" #name
                                                            placeholder="Nombre" 
                                                            required />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <input class="form-control" type="text" name="email" #email
                                                            placeholder="E-mail" 
                                                            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                                                            required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="message" #message
                                                            placeholder="Su mensaje" 
                                                            required></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <button class="btn btn-primary" type="submit">
                                                        Enviar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <p class="mb-0">
                                            <strong>Teléfono</strong>
                                        </p>
                                        <p class="pb-2">+54 3415588966</p>
                                        <p class="mb-0">
                                            <strong>Email</strong>
                                        </p>
                                        <p>eugenia@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
