<div class="section" id="about">
    <div class="container">
        <div class="card" style="width: 100%">
            <div class="d-flex flex-row justify-content-between">
                <h5 class="h4 seccion-title m-3 pt-1">Acerca de</h5>
                    <a href="#" class="btn btn-outline-secondary m-3 p-16px"><i class="fas fa-edit"></i></a>
            </div>
            <p class="card-text m-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit ut dolor ratione
                laboriosam pariatur, earum, deleniti ipsa laudantium impedit natus temporibus itaque eveniet tempora
                expedita recusandae est ab ipsam adipisci!</p>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8 col-md-12">
                    <div class="card-body d-flex justify-content-center">
                        <div class="col-lg-8 col-md-12">
                            <div class="h5 card-title mt-4 mb-4">Datos personales</div>
                            <div class="info">
                                <div class="row mt-4">
                                    <div class="col-sm-6">
                                        <strong class="h6 text-left text-uppercase">Fecha de nacimiento:</strong>
                                    </div>
                                    <div class="col-sm-6 text">11/03/1991</div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-sm-6">
                                        <strong class="h6 text-left text-uppercase ">Ciudad:</strong>
                                    </div>
                                    <div class="col-sm-6">Rosario</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>