<div class="section" id="education">
    <div class="container">
        <div class="d-flex flex-row justify-content-between">
            <div class="col-lg-10 col-md-12">
                <div class="h4 text-left mt-4 title">Educación  <a href="#" class="btn btn-outline-secondary m-2 "><i class="fas fa-plus"></i></a></div>
            </div>
        </div>

        <div class="card mb-4 mt-4" *ngFor="let educacion of titulos" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-2 card-body align-self-center">
                    <div class="text-center" id="periodo-edu"><h5>{{educacion.periodoEdu}}</h5></div>
                </div>
                <div class="col-md-10">
                    <h4 class="card-title m-3" id="institucion"> {{educacion.institucionEdu}} </h4>
                    <h5 class="card-subtitle m-3" id="titulo"> {{educacion.nombreEdu}} </h5>
                    <!-- <p class="card-text"><small class="text-muted m-3" id="ciudad-edu">Rosario, Argentina</small></p> -->
                    <ul>
                        <li>
                            <p class="card-text m-3" id="descripcion-edu"> {{educacion.descripcionEdu}} </p>
                        </li>
                    </ul>
                    <div class="d-flex flex-row-reverse">
                        <a href="#" class="btn btn-outline-secondary m-2"><i class="fas fa-edit"></i></a>
                        <a href="#" class="btn btn-outline-secondary m-2"><i class="fas fa-trash-alt"></i></a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
