<div class="section" id="education">
    <div class="container cc-education">
        <div class="row">
            <div class="col-lg-10 col-md-12">
                <div class="h4 text-left mt-4 title">Educación</div>
            </div>
            <div class="col-lg-2 col-md-0 d-flex flex-row-reverse">
                <a href="#" class="btn btn-primary m-2 "><i class="fas fa-plus"></i></a>
            </div> 
        </div>

        <div class="card mb-4 mt-4" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-2 card-body cc-education-header">
                    <p>2016-2022</p>
                    <div class="h5">Licenciatura Universitaria</div>
                </div>
                <div class="col-md-10">
                    <h4 class="card-title">Universidad Nacional de Rosario</h4>
                    <h5 class="card-subtitle">Licenciatura en Ciencia Política</h5>
                    <ul>
                        <li>
                            <p class="card-text"> Orientación en analisis de coyuntura y datos sociales</p>
                        </li>
                        <li>
                            <p class="card-text"> Promedio: 8,97</p>
                        </li>

                    </ul>

                    <div class="d-flex flex-row-reverse">
                        <a href="#" class="btn btn-primary m-2"><i class="fas fa-edit"></i></a>
                        <a href="#" class="btn btn-primary m-2"><i class="fas fa-trash-alt"></i></a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
