<header>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="container-fluid">
                <a class="boton-logo" (click)="redirectToHome()"> <img src="../../../assets/img/APLogo.png" width="130px" alt="">
                </a>

                <!-- Botón navbar vista responsive -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- NavBar responsivo  -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" (click)="redirectToPerfil()">Acerca de</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="redirectToExpe()">Experiencia</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" (click)="redirectToEdu()">Educación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="redirectToSkills()">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="redirectToCursos()">Cursos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="redirectToProyectos()">Proyectos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="redirectToInterest()">Intereses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="redirectToContact()">Contacto</a>
                        </li>
                    </ul>
                  
                    <div class="nav-item-btn">
                        <!-- <a class="btn btn-primary m-2" (click)="redirectToHome()" *ngIf="enLogin && !isLogged()">Home</a> -->
                        <a class="btn btn-primary m-2" (click)="redirectToLogin()" *ngIf="!isLogged()">Login</a>  
                        <a class="btn btn-primary m-2" (click)="onLogOut()" *ngIf="isLogged()">Logout</a> 
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>