<header>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <img src="../../../assets/img/APLogo.png" width="130px" alt="">

                <!-- Botón navbar vista responsive -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                 <!-- NavBar responsivo  -->               
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#about">Acerca de</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#experience">Experiencia</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#education">Educación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#skill">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#interest">Intereses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contacto</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Proyectos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#projects">Porfolio Argentina Programa</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="nav-item-btn">
                        <a class="btn btn-primary m-2" href="#registro">Registrarse</a>
                    </div>
                    <div class="nav-item-btn">
                        <a class="btn btn-primary m-2" href="#login">Entrar</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>