<div class="section" id="skill">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-12">
                <div class="h4 text-left mt-4 title">Skills</div>
            </div>
            <div class="col-lg-2 col-md-0 d-flex flex-row-reverse">
                <a href="#" class="btn btn-primary m-2 "><i class="fas fa-plus"></i></a>
            </div> 
        </div>

        <div class="card mt-4" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">Idiomas</h5>
                <ul class="lang-list">
                    <div class="lang-item m-2">
                        <h5 class="card-subtitle text-center">Inglés</h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                        </div>
                    </div>
                    <div class="lang-item m-2">
                        <h5 class="card-subtitle text-center">Francés</h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                        </div>
                    </div>
                    <div class="lang-item m-2">
                        <h5 class="card-subtitle text-center">Italiano</h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                        </div>
                    </div>
                </ul>
                <div class="d-flex flex-row-reverse">
                    <a href="#" class="btn btn-primary m-2"><i class="fas fa-edit"></i></a>
                    <a href="#" class="btn btn-primary m-2"><i class="fas fa-trash-alt"></i></a>
                </div> 
            </div>
        </div>

        <div class="card mt-4" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title mb-4">Lenguajes de programación & Herramientas</h5>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item fa-2x"><i class="fab fa-html5"></i></li>
                    <li class="list-inline-item fa-2x"><i class="fab fa-css3-alt"></i></li>
                    <li class="list-inline-item fa-2x"><i class="fab fa-js-square"></i></li>
                    <li class="list-inline-item fa-2x"><i class="fab fa-angular"></i></li>
                    <li class="list-inline-item fa-2x"><i class="fab fa-node-js"></i></li>
                    <li class="list-inline-item fa-2x"><i class="fab fa-npm"></i></li>
                </ul>
                <div class="d-flex flex-row-reverse">
                    <a href="#" class="btn btn-primary m-2"><i class="fas fa-edit"></i></a>
                    <a href="#" class="btn btn-primary m-2"><i class="fas fa-trash-alt"></i></a>
                </div> 
            </div>
            

        </div>
        <div class="card mt-4" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title mb-4">Workflow</h5>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Diseño responsivo
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Metodologías agiles y scrum
                    </li>
                </ul>
                <div class="d-flex flex-row-reverse">
                    <a href="#" class="btn btn-primary m-2"><i class="fas fa-edit"></i></a>
                    <a href="#" class="btn btn-primary m-2"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
