<div class="section" id="skill">
    <div class="container py-2">
        <div class="d-flex flex-row justify-content-between">
            <div class="col-lg-10 col-md-12">
                <div class="h4 text-left mt-4 title">Skills <a href="#" class="btn btn-outline-secondary m-2 "><i
                            class="fas fa-plus"></i></a></div>
            </div>
        </div>

        <div class="card mt-4 mb-4 flex-wrap" style="max-width: 100%;">
            <div class="row g-0">
                <div class="text-center col-md-4 d-flex flex-column mt-4 mb-4" *ngFor="let skill of skills">
                    <circle-progress [percent]="85" [radius]="100" [title]="'Nivel'" titleColor=""
                        [titleFontSize]="'2em'" titleFontSize="'Lora'" [showUnits]="false" [showSubtitle]="false" [innerStrokeWidth]="5"
                        [outerStrokeColor]="'#3598dc'" [innerStrokeColor]="'#f76e8a'" [animation]="true"
                        [animationDuration]="500" [lazy]="true">
                    </circle-progress>
                    <h5 class="name-skill text-center"> {{skill.nombreSkill}} </h5>
                    <p class="text-center m-2"> {{skill.descripcionSkill}} </p>
                </div>
               
               <!-- prueba -->
                 <!-- fin prueba -->
                 <div class="d-flex flex-row-reverse">
                        <a href="#" class="btn btn-outline-secondary m-2"><i class="fas fa-edit"></i></a>
                        <a href="#" class="btn btn-outline-secondary m-2"><i class="fas fa-trash-alt"></i></a>
                    </div> 
            </div>
        </div>
    </div>
</div>