<div class="section">
    <div class="container text-center max-width">
        <div class="social-icons">
            <a class="social-icon btn btn-link" href="#" target="_blank" rel="tooltip"
                title="Follow me on Instagram">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
            <a class="social-icon btn btn-link" href="#" target="_blank" rel="tooltip"
                title="Follow me on Linkedin">
                <i class="fab fa-linkedin-in fa-2x"></i>
            </a>
            <a class="social-icon btn btn-link" href="#" target="_blank" rel="tooltip"
                title="Follow me on Github">
                <i class="fab fa-github fa-2x"></i>
            </a>
            <a class="social-icon btn btn-link" href="#" target="_blank" rel="tooltip"
                title="Write me an email">
                <i class="fas fa-envelope fa-2x"></i>
            </a>
            <a class="social-icon btn btn-link" href="#" target="_blank" rel="tooltip"
                title="Contact me on whatsapp">
                <i class="fa fa-whatsapp fa-2x"></i>
            </a>
        </div>
    </div>
</div>
