<div class="section" id="interest">
    <div class="container cc-interest">
        <div class="h4 text-left mt-4 title">Información adicional</div>
        <div class="card mt-4 mb-4" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">Intereses</h5>
                <p class="card-text">Apart from being a web developer, I enjoy most of my time being outdoors. In
                    the winter, I am an avid skier and novice ice climber. During the warmer months here in
                    Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
                <p class="card-text">When forced indoors, I follow a number of sci-fi and fantasy genre movies and
                    television shows, I am an aspiring chef, and I spend a large amount of my free time exploring
                    the latest technology advancements in the front-end web development world.</p>
                    <div class="d-flex flex-row-reverse">
                        <a href="#" class="btn btn-primary m-2"><i class="fas fa-edit"></i></a>
                        <a href="#" class="btn btn-primary m-2"><i class="fas fa-trash-alt"></i></a>
                    </div>
            </div>
        </div>
    </div>
</div>
